.container {
  width: calc((1280px - 30px) / 4);

  border: 1px solid #3883a8;
  border-radius: 10px;

  transition: 300ms;
}

.imgContainer {
  height: calc(((1280px - 30px) / 4) / 1.42);
}

.img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  background-color: #3883a8;
  border-radius: 10px 10px 0 0;

  cursor: zoom-in;
}

.container:hover {
  transform: scale(1.02);
}

.info {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 6px;
  background-color: #ffffff;

  border-radius: 0 0 10px 10px;
}

.author {
  margin-right: 10px;
}

.authorParagraph {
  font-size: 16px;
  font-weight: 800;
  color: #3883a8;
}

.likes {
  display: flex;
  align-items: center;
}

.iconLikes {
  margin-right: 2px;
  color: #3883a8;
}
