.img {
  width: calc((1280px - 50px) / 4);
  height: calc((width) / 4);
  background-color: #888f8c;
  background-size: cover;
  border-radius: 10px;

  transition: 300ms;
}

.img:hover {
  transform: scale(1.02);
}
